.cover__link{
    width:100%;
    height: 100%;
    text-decoration: none;
    background-position: center;
    background-size:cover;
}
.cover__link::before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #2A2C2F;
    opacity: 0.3;
}
.cover__link:hover::before{
        background: #2A2C2F;
        opacity: 0.8;
}   