.place__title{
    font-size:72px;
    line-height:76px;
    color:#FFFFFF;
    font-weight: 900;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    max-width: 460px;
    margin: 0%; 
}
@media screen and (max-width:1050px){
    .place__title{
       max-width: 440px;
    }
}
@media screen and (max-width:870px){
    .place__title{
        font-size: 42px;
        line-height: 46px;
        max-width: 380px; 
    }
} 
@media screen and (max-width:768px){
    .place__title{
        font-size: 42px;
        line-height: 46px;
        text-align: left;
        align-self: flex-start;
        max-width: 380px;
    }
}

@media screen and (max-width:700px){
    .place__title{
        margin:0 auto;
        margin-bottom:48px;
    }
}
@media screen and (max-width:425px){
    .place__title{
        font-size: 32px;
        line-height: 35px;
        margin-bottom:0;
        text-align: left;
        max-width: 288px;
        margin-left:16px;
        margin-right: 16px;;
    }
}