.place__last-paragraph{
    margin-top:0;
    font-size:18px;
    line-height: 30px;
    font-weight:400;
    color:#FFFFFF;
    font-family: 'Inter';
    max-width:484px;
    margin:0; 
}

@media screen and (max-width:1050px){
    .place__last-paragraph{
        max-width: 456px;
    }
}

@media screen and (max-width:768px){
    .place__last-paragraph{
        font-size: 16px;
        line-height: 26px;
        max-width: 352px;
    }
}

@media screen and (max-width:425px){
    .place__last-paragraph{
        max-width:288px;
        text-align: left;
    }
}