.place__image{
    grid-column:1/2;
    grid-row:2/2;
    max-height:460px;
    max-width:460px;  
}
@media screen and (max-width:1050px){
    .place__image{
    max-height: 440px;
    max-width: 440px;
    }
}
@media screen and (max-width:870px){
    .place__image{
        max-width: 380px;
        max-height: 380px;
    }
}
@media screen and (max-width:768px){
    .place__image{
        max-height: 340px;
        max-width: 340px;
    }
}
@media screen and (max-width:700px){
    .place__image{
        max-width: 340px;
        max-height: 340px;
        margin:0 auto;
        margin-bottom: 48px;
}
}
@media screen and (max-width:425px){
    .place__image{
    max-width:100%;
    max-height: 100%;
    align-self: center;
    margin-top:32px;
    }
}