.lead{
    margin: 0 148px 92px 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 1050px){
    .lead{
        margin: 0 48px 98px 48px;
    }
}
@media screen and (max-width: 768px){
    .lead{
        margin: 0 0 88px 0;
    }
}
@media screen and (max-width:425px){
    .lead{
        margin-bottom: 64px;
    }
}