.cover__subtitle{
    color:#FFFFFF;
    font-size:18px;
    line-height:22px;
    font-weight:400;
    text-align: center;
    position: relative;
    margin:auto;
    align-self: center;
    margin-top:0;
    margin-bottom: 245px;
    max-width:360px;
}
@media screen and (max-width:1050px){
    .cover__subtitle{
        margin-bottom:195px;
    }
}
@media screen and (max-width:768px){
    .cover__subtitle{
        margin-bottom: 115px;
    }
}
@media screen and (max-width:425px){
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
        margin-bottom:33px;
        max-width:288px;
    }
}