.header{
    display:flex;
    justify-content: space-between;
    margin:28px 48px 56px 48px;
    max-width: 91%;
}
@media screen and (max-width: 1050px){
    .header{
        margin-bottom:42px;
    }
}
@media screen and (max-width: 768px){
    .header{
        margin-left:24px;
        margin-right:24px;
    }
}
@media screen and (max-width: 425px){
    .header{
        margin:16px 16px 48px 16px;
    }
}