.footer__link{
    font-size:16px;
    font-weight: normal;
    line-height: 18px;
    color:#FFFFFF;
    text-decoration: none;
}
.footer__link:hover{
    color:#FFFFFF;
    opacity: 0.8;
}
@media screen and (max-width:628px){
    .footer__link{
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
        
    }
    .footer__link:last-child{
        margin-bottom: 0%;
    }
}