.lead__title{
    border:1px solid red;
    font-size:96px;
    font-weight: 900;
    line-height:100px;
    color:#FFFFFF;
    text-align: center;
    margin:0 132px 32px 132px;  
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .lead__title{
        margin:0 104px 32px 104px;
       
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .lead__title{
        margin: 0 24px 32px 24px;
    }
}