.footer__links{
    width: 465px;
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width:628px){
    .footer__links{
        flex-direction: column;
        max-width: 158px;
        min-height: 248px;
        align-items: flex-start;
        margin-bottom: 48px;
    }
}