.footer__copyright{
    color: #FFFFFF; 
    font-weight: 400;
    
 
}
@media screen and (min-width:1280px){
    
    .footer__copyright{
    margin-top:2px;
    font-size:14px;
    line-height: 16px;
    height: 16px;
    width:200px;
    border:1px solid red;
    }
}