.footer__copyright{
    color: #FFFFFF;
    font-weight: 400;
    margin-top:2px;
    margin-bottom: 0%;
    font-size:14px;
    line-height: 16px;
    text-align: right;
}
@media screen and (max-width:628px){
    .footer__copyright{
        margin:0;
        font-size: 14px;
        line-height: 14px;
        text-align: left;  
    }
}
