.lead__caption{
    width:159px;
    font-size:10px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    color:#FFFFFF;
    margin-left: 0;
    margin-bottom: 0;
    margin-top:0;
    letter-spacing: 0.15em; 
}
@media screen and (max-width:768px){
    .lead__caption{ 
        margin-left: 24px;
    }
}
@media screen and (max-width:425px){
    .lead__caption{
        margin-left: 16px;
    }
}