.cover__title{
    position: relative;
    border:1px solid red;
    color:#FFFFFF;
    font-size:72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin:auto;
    
}
@media  screen and (min-width:1280px){
    .cover__title{
        margin-top:245px;
        margin-bottom:32px;
    }
}