.cover__title{
    position: relative;
    color:#FFFFFF;
    font-size:72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin:0 auto;
    margin-top:245px;
    margin-bottom:32px;
    max-width: 560px;
}
@media screen and (max-width:1050px){
    .cover__title{
        margin-top:195px;
    }
}
@media screen and (max-width:768px){
    .cover__title{
        margin-top:115px;
    }
}
@media screen and (max-width:628px){
    .cover__title{
        margin-top:64px;
    }
}
@media screen and (max-width:512px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        margin-top:33px;
        max-width: 288px;
        margin-bottom: 0;
    }
}