.place{
    list-style-type: none;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr minmax(288px, 484px);
    gap:48px 40px;
    margin-bottom:80px;
    padding:0;
    margin-top:0;   
}
.place:last-child{
    margin-bottom:0;
}

@media screen and (max-width:1050px){
    .place{
        gap:48px 32px;
        margin:0 auto;
        margin-bottom:80px; 
    }
}
@media screen and (max-width:870px){
    .place{
        gap:48px 30px;
    }
}
@media screen and (max-width:768px){
    .place{  
        gap:48px 28px;
        margin-bottom:72px;
    }
}
@media screen and (max-width:425px){
    .place{
        width:100vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap:0;
        align-items: center;
        justify-content: center;
    }
}